In [38]:
import pandas as pd
df = pd.read_csv("alcohol-consumption.csv")
df

,country,total_consumption,recorded_consumption,unrecorded_consumption,beer_percentage,wine_percentage,spirits_percentage,other_percentage,2020_projection,2025_projection
0,Estonia,16.9,15.8,1.1,32.7,7.4,50.3,9.6,11.5,11.9
1,Lithuania,15.0,13.8,1.2,43.6,7.3,37.1,12.1,14.4,13.9
2,Czech Republic,14.3,12.4,1.4,53.3,21.3,25.4,0.0,11.2,11.4
3,Seychelles,13.8,12.4,1.4,68.9,22.4,6.3,2.5,10.4,10.6
4,Germany,13.4,11.3,1.4,52.6,28.4,18.9,0.0,12.8,12.6
...,...,...,...,...,...,...,...,...,...,...
184,Bangladesh,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
185,Kuwait,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
186,Libya,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
187,Mauritania,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
188,Somalia,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0

In [2]:
df.head(10)

,country,total_consumption,recorded_consumption,unrecorded_consumption,beer_percentage,wine_percentage,spirits_percentage,other_percentage,2020_projection,2025_projection
0,Estonia,16.9,15.8,1.1,32.7,7.4,50.3,9.6,11.5,11.9
1,Lithuania,15.0,13.8,1.2,43.6,7.3,37.1,12.1,14.4,13.9
2,Czech Republic,14.3,12.4,1.4,53.3,21.3,25.4,0.0,11.2,11.4
3,Seychelles,13.8,12.4,1.4,68.9,22.4,6.3,2.5,10.4,10.6
4,Germany,13.4,11.3,1.4,52.6,28.4,18.9,0.0,12.8,12.6
5,Nigeria,13.4,9.6,3.8,7.9,0.4,0.6,91.1,13.0,12.5
6,Ireland,13.0,11.3,1.4,47.0,28.0,18.8,6.2,13.5,13.9
7,Moldova,13.0,11.5,1.4,35.4,44.6,20.0,0.0,12.6,12.4
8,Latvia,12.9,11.1,1.9,42.8,11.1,40.0,6.1,14.0,15.1
9,Bulgaria,12.7,11.4,1.3,38.8,17.2,42.9,1.2,13.0,13.4

In [3]:
df.tail(10)

,country,total_consumption,recorded_consumption,unrecorded_consumption,beer_percentage,wine_percentage,spirits_percentage,other_percentage,2020_projection,2025_projection
179,Pakistan,0.3,0.0,0.3,NaN,NaN,NaN,NaN,0.3,0.4
180,Syria,0.3,0.2,0.1,11.6,1.1,87.2,0.0,0.3,0.3
181,Afghanistan,0.2,0.0,0.2,NaN,NaN,NaN,NaN,0.2,0.2
182,Saudi Arabia,0.2,0.1,0.2,NaN,NaN,NaN,NaN,0.2,0.2
183,Yemen,0.1,0.0,0.0,89.5,0.0,10.5,0.0,0.1,0.1
184,Bangladesh,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
185,Kuwait,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
186,Libya,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
187,Mauritania,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
188,Somalia,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0

In [5]:
df.isnull().sum()

country                    0
total_consumption          0
recorded_consumption       0
unrecorded_consumption     0
beer_percentage           10
wine_percentage           10
spirits_percentage        10
other_percentage          10
2020_projection            0
2025_projection            0
dtype: int64

In [7]:
len(df.columns)

10

In [8]:
len(df)

189

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 189 non-null    object
 1   total_consumption       189 non-null    float64
 2   recorded_consumption    189 non-null    float64
 3   unrecorded_consumption  189 non-null    float64
 4   beer_percentage         179 non-null    float64
 5   wine_percentage         179 non-null    float64
 6   spirits_percentage      179 non-null    float64
 7   other_percentage        179 non-null    float64
 8   2020_projection         189 non-null    float64
 9   2025_projection         189 non-null    float64
dtypes: float64(9), object(1)
memory usage: 14.9+ KB

In [11]:
df.columns()

Index(['country', 'total_consumption', 'recorded_consumption',
       'unrecorded_consumption', 'beer_percentage', 'wine_percentage',
       'spirits_percentage', 'other_percentage', '2020_projection',
       '2025_projection'],
      dtype='object')

In [13]:
df["total_consumption"].max()

np.float64(16.9)

In [14]:
df["total_consumption"].min()

np.float64(0.0)

In [15]:
df["total_consumption"].mean()

np.float64(6.1835978835978835)

In [19]:
df[df["unrecorded_consumption"]>0].count()

country                   182
total_consumption         182
recorded_consumption      182
unrecorded_consumption    182
beer_percentage           177
wine_percentage           177
spirits_percentage        177
other_percentage          177
2020_projection           182
2025_projection           182
dtype: int64

In [23]:
df["unrecorded_consumption"].max()
df[df["unrecorded_consumption"]==5.3]["country"]

64    Vietnam
Name: country, dtype: object

In [24]:
df["spirits_percentage"].max()

np.float64(97.3)

In [25]:
df[df["spirits_percentage"]==97.3]["country"]

99           Haiti
121    North Korea
Name: country, dtype: object

In [26]:
df["beer_percentage"].max()

np.float64(100.0)

In [27]:
df[df["beer_percentage"]==100.0]["country"]

175      Brunei
178    Kiribati
Name: country, dtype: object

In [28]:
df["wine_percentage"].max()

np.float64(84.7)

In [29]:
df[df["wine_percentage"]==84.7]["country"]

151    Tuvalu
Name: country, dtype: object

In [30]:
df["other_percentage"].max()

np.float64(94.9)

In [31]:
df[df["other_percentage"]==94.9]["country"]

103    Sierra Leone
Name: country, dtype: object

In [35]:
def fun():
    count=0
    for num in df["total_consumption"]:
        if num>1:
            count=count+1
    print(count)

In [36]:
fun()

160